body {
      background-color: #f8f9fa;
      font-family: 'Inter', 'Segoe UI', sans-serif;
      color: #212529;
      margin: 0;
      padding: 0;
    }
    
     @keyframes slide {
        0% { transform:translateX(0); }
        20% { transform:translateX(0); }
        25% { transform:translateX(-100%); }
        45% { transform:translateX(-100%); }
        50% { transform:translateX(-200%); }
        70% { transform:translateX(-200%); }
        75% { transform:translateX(-300%); }
        95% { transform:translateX(-300%); }
        100% { transform:translateX(0); }
      }
     .slider {
        position:absolute;
        width:100%;
        height:100%;
        display:flex;
       animation: slide 16s infinite ease-in-out;
        z-index:-2;
      }
     .slider img {
        width:100%;
        height:100%;
        object-fit:cover;
        flex-shrink:0;
      }
    
     header {
      padding: 0.8rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      border-bottom: 1px solid #333;
    }
     .logo {
      height:35px;
      width: auto;
    }
     nav ul {
      display: flex;
      list-style: none;
      gap: 3rem;
      margin: 0;
      padding: 0;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0.5rem 0;
    }
     nav a:hover {
      color: #00FFFF;
    }
    .store{
       color:#E051A0 ;
      text-shadow: 0 10px 30px rgba(114, 255, 92, 0.4);
    }
     .store-name {
        color:#D92525;
        font-size:4.2rem;
        display:inline-block;
      }

    .hero {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100vh;
      padding: 15rem 4rem;
      color: white;
      overflow: hidden;
    }

    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      z-index: -1;
    }

    .hero h1 {
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      letter-spacing: 8px;
      
    }

    .hero p {
      font-size: 1.3rem;
      max-width: 900px;
      margin-bottom: 2rem;
    }
    

    .btn {
      padding: 1.5rem 2rem;
      background-color:#E051A0 ;
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      transition: all ease 0.15s;
       z-index:1;
        margin-top:20px;
      
    }

    .btn:hover {
      background-color: #cc2952;
    }
     header h2 {
        color:white;
        font-size:1.3rem;
      }
      
      nav ul {
        display:flex;
        align-items:flex-end;
        gap:3rem;
        list-style:none;
      }
      nav a {
        color:white;
        text-decoration:none;    
      }
      nav a:hover{
        color:#D92525;
      }
    .about {
         padding: 5rem 2rem 2rem 2rem;
        max-width:1200px;
        margin:0 auto;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:3rem;
        align-items:center;
      }
      .about img {
        width:100%;
        border-radius:8px;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
      }
      .about h2 {
        font-size:2.5rem;
        color:#333;
        margin-bottom:1rem;
      }
      .about h2 span {
        color:#D92525;
      }
      .about p {
        color:#555;
        line-height:1.6;
        font-size:1.1rem;
      }
        .collection {
       padding: 2rem 1.5rem 5rem 1.5rem;
        background:#fff;
        
      }
      section + section {
  margin-top: 0;
}
      .collection h2 {
        text-align:center;
        font-size:2.5rem;
        margin-bottom:3rem;
        color:#333;
      }
      .collection h2 span {
        color:#D92525;
      }
      .grid {
        display:grid;
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
        gap:2rem;
        max-width:1200px;
        margin:0 auto;
        
      }
      .card {
        background:white;
        border-radius:8px;
        overflow:hidden;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
        transition:transform 0.3s;
        display: flex;
  flex-direction: column;
  height: 100%;
      }
      .card:hover {
        transform:translateY(-5px);
      }
      .card img {
        width:100%;
        object-fit:cover;
         height: 250px;
      }
      .info {
        flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
      }
      .price {
        color:#D92525;
        font-weight:bold;
        font-size:1.2rem;
        margin-top:0.5rem;
      }
      .whatsapp-btn {
display: block;
width: 100%;
margin-top: 1rem;
padding: 12px;
background: #E051A0;
color: white;
text-align: center;
text-decoration: none;
border-radius: 4px;
font-weight: 500;
transition: all 0.3s ease;
box-shadow: 0 5px 15px rgba(224, 81, 160, 0.3);
      }
.whatsapp-btn:hover {
 background: #c43d87; /* darker shade for hover */
  transform: translateY(-2px)
}